<!DOCTYPE html>
<html>
  <head>
    <title> home page</title>
    <style>
      h1{
        font-size: 20px;
        font-familyfamily: arial;
        font-weight: bold;
        text-align: center;
      }
      h2{
        font-weight: normal;
        text-align: center;
      }
      p{
        text-align: center;
      }
      #banner {twidth = '400' height = '400'}
      h3{
        text-align: center;
      }
      h3{
        text-align: center;
      }
      button{
        text-align: center;
      }
    </style>
    
    <body>
      <h1>
        这是我的水果店。呵呵。欢迎光临，客人</h1>
        <h2>✴  🎀  其实只卖一个苹果啦  🎀  ✴</h2>
      
      <img id= "banner" scr=“banana.jpg”/>
      <p> 这是来自天山的苹果，海报高，光照足，雨水多，土地肥沃，一切天然优越的条件使得我们的苹果非常鲜美鲜甜。客人，买一个试试吧。很好吃的。祝你吃的开心。欢迎下次光临
        <p>
      <h3>✶*  🎀  请问需要其他水果吗🎀  *✶</h3>
      <h3>✶*  🎀 点击下方按钮联系我哦。呵呵 🎀  *✶</h3>
      <button>联系我</button>
    </body>
  </head>
</html>